<a href="https://colab.research.google.com/github/j3nguyen/user_item_embeddings/blob/master/NextAction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import re
import numpy as np
import pandas as pd
from pprint import pprint

# Gensim
import gensim
import gensim.corpora as corpora
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel

# spacy for lemmatization
import spacy

# NLTK for stopwords and stemming
from nltk.stem.porter import * 
from nltk.stem.snowball import SnowballStemmer
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

# Plotting tools
# import pyLDAvis
# import pyLDAvis.gensim  # don't skip this
import matplotlib.pyplot as plt
import matplotlib

In [3]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [1]:
import keras

Using TensorFlow backend.

In [0]:
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout, Embedding, Activation
from keras.optimizers import Adam

In [0]:
df = pd.read_csv("events.csv")

In [15]:
df.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [0]:
# reformat the data set
visitor_ids = df.visitorid.unique()

In [0]:
# df.visitorid.value_counts()

In [19]:
df.event.value_counts()

view           2664312
addtocart        69332
transaction      22457
Name: event, dtype: int64

In [0]:
action_to_idx = {"view": 0, "addtocart": 1, "transaction": 2}

In [29]:
# build the data set

df[df.visitorid == visitor_ids[0]].sort_values("timestamp")

            timestamp  visitorid event  itemid  transactionid
0       1433221332117     257597  view  355908            NaN
152610  1433800821247     257597  view  302696            NaN

In [30]:
visitor_activity = {}

for visitor in visitor_ids:
  # get

AttributeError: ignored